lab1/project/
lab1/target/
lab1/segment/
lab1/.idea/
lab2/project/
lab2/target/
lab2/segment/
lab2/.idea/
lab2/lab2.iml
lab3/.idea/
lab3/GDELTStream/.idea/
lab3/GDELTStream/GDELTStream.iml
lab3/lab3.iml
